// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$web-font-path: "https://fonts.googleapis.com/css?family=Comfortaa:300,700|Roboto:300,400,500,700";

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family: $font-family-heading;
$headings-font-weight: 700;


$well-bg: #ecf0f1;
$navbar-default-bg: #2C3E50;
$font-size-large: 19px;
$font-size-h3: 26px;
$jumbotron-bg: #ecf0f1;
